[DEFAULT]
[ml2]
type_drivers = vxlan,vlan,local,flat
tenant_network_types = vxlan,local
mechanism_drivers = openvswitch,l2population
extension_drivers = port_security
[ml2_type_flat]
[ml2_type_geneve]
[ml2_type_gre]
[ml2_type_vlan]
[ml2_type_vxlan]
vni_ranges = 1001:2000
vxlan_group = 239.1.1.1
[securitygroup]
enable_security_group = True
enable_ipset = True
