clouds:
  cloud-admin:
    auth:
      auth_url: http://{{ infrastructure.chassis[enclosure].blades[enclosure+slot].blade_ext_mgmt_ip }}:5000/v2.0/
      username: admin
      password: changeme
      project_name: admin
{% if state == 'present' %}
{% for value in projects %}
  cloud-{{ value.name }}:
    auth:
      auth_url: http://{{ infrastructure.chassis[enclosure].blades[enclosure+slot].blade_ext_mgmt_ip }}:5000/v2.0/
      username: {{ value.user_name }}
      password: {{ value.user_pass }}
      project_name: {{ value.name }} 
{% endfor %}
{% endif %}
