---
- name: install iptables-services
  yum: state=installed name=iptables-services

- name:  enable ip forwarding
  sysctl: name="net.ipv4.ip_forward" value=1 sysctl_set=yes state=present reload=yes

- name: "iptables: appending {{ pxe_internal_eth }} incoming"
  iptables: chain=FORWARD in_interface={{ pxe_internal_eth }} jump=ACCEPT state=present

- name: "iptables: appending {{ pxe_internal_eth }} incoming"
  iptables: chain=FORWARD out_interface={{ pxe_internal_eth }} jump=ACCEPT state=present

- name: "iptables: appending {{ pxe_external_eth }} masq"
  iptables: table=nat chain=POSTROUTING out_interface={{ pxe_external_eth }} jump=MASQUERADE state=present

- name: "Starting iptables"
  service: state=restarted name=iptables

- name: "Starting iptables"
  service: state=restarted name=iptables enabled=yes


