{% if infrastructure.vlans.openstack_vxlan_tenant.tagged_traffic_needed is defined %}
DEVICE={{ tenant_interface }}.{{ infrastructure.vlans.openstack_vxlan_tenant.vlan_id }}
VLAN=yes
{% else %}
DEVICE={{ tenant_interface }}
{% endif %}
BOOTPROTO=static
ONBOOT=yes
DELAY=0
IPADDR={{ infrastructure.chassis[enclosure].blades[enclosure+slot].blade_vlan16_ip }}
NETMASK={{ infrastructure.vlans.openstack_vxlan_tenant.netmask }}
NM_CONTROLLED=no
