import json
import requests
import subprocess
import time
import os

from multiprocessing import Pool

noaip = "$$NOAIP$$"

servers = {
    $$HOSTS$$
}

# we don't want to go through the proxy for any of these
os.environ['no_proxy'] = ",".join(servers.values())

print "Running bootstrap.py..."

def checkServer(ip):
    try:
        r = requests.get("https://{0}/".format(ip), verify = False)
        statuscode = r.status_code
    except:
        statuscode = 555
    return statuscode

# Fetch API tokens from each server. Since replication isn't happening yet,
# we can't just get one from the NOA. There is no NOA!
def getToken(server):
    print "Fetching token from {0}...".format(server)
    ip = servers[server]

    statuscode = checkServer(ip)
    while statuscode != 200:
        time.sleep(1)
        # print statuscode
        statuscode = checkServer(ip)

    url = "https://{0}/mmi/alexa/v1.0/auth/tokens".format(ip)
    credentials = {"username":"guiadmin", "password":"tekware"}

    r = requests.post(url, verify=False, data=credentials)
    try:
        return (server, r.json()['data']['token'])
    except:
        return (server, "NO_TOKEN")

pool = Pool(16)
tokens = dict(pool.map(getToken, servers))

# Bootstrap all servers in parallel, 16 at a time
def bootstrapServer(server):
    ip = servers[server]
    try:
        print "Waiting for mkdbhooks on {0}...".format(server)
        subprocess.call(["/usr/bin/ssh", "-o StrictHostKeyChecking=no", "-i", "/home/admusr/.ssh/sshkey.pem", ip,
            "bash -c '. /etc/profile 2>&1 >/dev/null; while ! pm.getprocs 2>&1|grep mkdbhooks|grep Done; do sleep 1; done'"])

        print "Bootstrapping {0}.{1}..".format(server,ip)
        token = tokens[server]
        url = "https://{0}/mmi/alexa/v1.0/topo/servers/{1}/bootstrap".format(ip, server)

        data = {"host": noaip,
                "options": {
                    "-hostname":"",
                }}

        headers = {"X-Auth-Token": token}
        resp = requests.put(url, verify=False,data=json.dumps(data), headers=headers)

        try:
            res = resp.json()
            for message in res['messages']:
                print "{0} {4} [{1}.{2}]: {3}".format(server, message['area'],
                                                          message['severity'],
                                                          message['message'],ip)
        except:
            print "No JSON from {0}".format(server)

    except Exception as ex:
        print ex
        print "{0} {1}: oops".format(server,ip)

pool = Pool(16)
pool.map(bootstrapServer, servers)
