DEVICE=br-ex
ONBOOT=yes
DEVICETYPE=ovs
TYPE=OVSBridge
BOOTPROTO=static
ONBOOT=yes
IPADDR={{ infrastructure.chassis[enclosure].blades[enclosure+slot].blade_ext_mgmt_ip }}
NETMASK={{ infrastructure.vlans.ext_management_vlan.netmask }}
GATEWAY={{ infrastructure.vlans.ext_management_vlan.gateway }}
