unset OS_SERVICE_TOKEN
export OS_USERNAME=mgmtadmin
export OS_PASSWORD=password
export OS_AUTH_URL=http://{{ infrastructure.chassis[enclosure].blades[enclosure+slot].blade_ext_mgmt_ip }}:5000/v2.0
export PS1='\[\e[00;36m\][\u@\h \W(keystone_mgmtadmin)]$ '
export OS_TENANT_NAME=mgmt 
export OS_REGION_NAME=RegionOne
