unset OS_SERVICE_TOKEN
{% for key,value in tenants.iteritems() %}
export OS_USERNAME={{ key }}
export OS_PASSWORD={{ value.pass }}
export OS_AUTH_URL=http://{{ infrastructure.chassis[enclosure].blades[enclosure+slot].blade_ext_mgmt_ip }}:5000/v2.0
export PS1='\[\e[00;36m\][\u@\h \W(keystone_{{ key }})]$ '
export OS_TENANT_NAME={{ value.project }}
export OS_REGION_NAME=RegionOne
{% endfor %}
