---
- name: loading infra file
  include_vars: "{{ playbook_dir }}/roles/generate_vars/vars/main.yml"
   
# Preparing packstack answers    
- name: Templating Packstack answers file
  template: src=packstack_answers.txt.j2 dest="{{ packstack_dir }}/{{ packstack_answer_file }}" owner=root group=root mode=0644
  register: packstack_answers_file_created
